.site-nav {
  display: flex;
}
.site-nav .nav-link-item {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  margin-right: 50px;
  padding-top: 30px;
}
.nav-link {
  color: #212121;
}
.site-nav .nav-link-item:last-child {
  margin-right: 0;
}

.contact-list-item {
  margin-right: 30px;
}
.site-nav .contact-list-item:last-child {
  margin-right: 0;
}
.contact-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.logo {
  font-family: "Roboto", sans-serif;
}
.logo-link {
  margin-right: 85px;
}
.site-nav-div {
  margin-left: auto;
}
